$color-background: rgb(255, 253, 250);
$color-first: rgb(0,0,26);
$color-nav: rgb(94,96,122);
$color-hover-side: rgb(233, 170, 82);
$color-hover-bottom: rgb(241, 93, 81);
$color-numbers: rgb(197, 198, 206)
